.offcanvas.offcanvas-end {
    width: 50vw;
    border-left: none;
}

.offcanvas {
    transition: transform .4s ease-in-out;
    background-color: var(--background);
}

.offcanvas-header {
    justify-content: flex-end;
}

.dark .offcanvas-header, .dark .offcanvas-body {
    background: var(--dark-background);
}

.offcanvas-title {
    color: var(--primary);
    text-transform: uppercase;
    font-weight: var(--font-weight-h1);
    margin: var(--margin-double);
    padding-top: var(--padding-double);
    padding-bottom: var(--padding-double);
}

.offcanvas-body {
    text-align: center;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}

.nav-link {
    text-transform: uppercase;
}

.light .nav-link {
    color: var(--text);
}

.dark .nav-link {
    color: var(--light-text);
}

.nav-link:focus, .nav-link:hover {
    color: var(--secondary);
}

.navbar-brand {
    font-weight: var(--font-weight-h1);
    text-transform: uppercase;
    margin-left: var(--margin-single);
    margin-right: var(--margin-single);
    color: var(--primary);
}

.offcanvas-header .btn-close {
    margin-right: var(--margin-single);
}

.bg-dark {
    background-color: var(--dark-background) !important
}

.bg-light {
    background-color: var(--background) !important
}

.theme-switch {
    position: fixed !important;
    right: 80px !important;
}