.resume-section-title {
  color: var(--secondary);
  margin-top: var(--margin-double);
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-h2);
  text-transform: uppercase;
}

h2.resume-title {
  padding-bottom: 0;
}

.resume-subtitle {
  text-align: left;
}

.resume-email, .resume-phone, .resume-location {
  font-weight: 500;
  font-size: 12px;
  padding: 0;
}

.section-download {
  text-align: center;
  margin: 32px;
}

.download-resume-button {
  padding: 16px 32px;
  border: 1px solid var(--primary);
  text-transform: uppercase;
}

.download-resume-button:hover {
  background: var(--primary);
}

.badge {
  padding: 8px;
  margin: 0 8px 8px 0;
  text-transform: uppercase;
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-body);
}

.duties {
  margin-top: var(--margin-single);
}

h5.company {
  padding: 0;
  margin: 0;
}

.duration {
  color: var(--dark-background-muted);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}